# Example: FARCASTER_DEVELOPER_MNEMONIC="candy gibraltar foxtrot kilo barnacles foxes ..."
# (OPTIONAL) Needed for the debugger to create a real Farcaster signer. Get this by exporting your seed phrase from the Warpcast app. Don't share that seed phrase with anyone.
FARCASTER_DEVELOPER_MNEMONIC=
# (OPTIONAL) Only needed for the debugger to create a real Farcaster signer. Get this by visiting your Warpccast profile, pressing the kebab (three dots) menu and then "About" and then your fid should be there.
# Example: FARCASTER_DEVELOPER_FID=1214
FARCASTER_DEVELOPER_FID=
# (OPTIONAL) Hub URL to use for the debugger. If not set, the debugger will use the default hub URL.
DEBUG_HUB_HTTP_URL=

NEXT_PUBLIC_HOST="http://localhost:3000"

# OPTIONAL EXAMPLE KEYS
# Optional, if you use this example
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
# Optional
DEBUGGER_URL=""