# Example: FARCASTER_DEVELOPER_MNEMONIC="candy gibraltar foxtrot kilo barnacles foxes ..."
# Needed for the debugger to create a Farcaster signer. Get this by exporting your seed phrase from the Warpcast app. Don't share that seed phrase with anyone.
FARCASTER_DEVELOPER_MNEMONIC=
# Only needed for the debugger to create a Farcaster signer. Get this by visiting your Warpccast profile, pressing the kebab (three dots) menu and then "About" and then your fid should be there.
# Example: FARCASTER_DEVELOPER_FID=1214
FARCASTER_DEVELOPER_FID=
NEXT_PUBLIC_HOST="http://localhost:3000"