name: Frames.js Actions

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "docs/**"
      - "changesets/**"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "changesets/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NEXT_PUBLIC_WALLETCONNECT_ID: "test"

jobs:
  initialize:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "yarn"

      - name: Install dependencies
        run: yarn --frozen-lockfile

  lint-and-typecheck:
    needs: [initialize]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "yarn"

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build:ci

      - name: Lint
        run: yarn lint

      - name: Typecheck
        run: yarn check:types

      - name: Check package types
        run: yarn check:package-types

      - name: Lint packages
        run: yarn check:package-lint

  test:
    needs: [initialize]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "yarn"

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Unit Tests
        run: yarn test:ci
