name: Frames.js Actions

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "docs/**"
      - "changesets/**"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "changesets/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NEXT_PUBLIC_WALLETCONNECT_ID: "test"

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20]
    name: Build and Test on Node.js ${{ matrix.node }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build:ci

      - name: Lint
        run: yarn lint

      - name: Typecheck
        run: yarn check:types

      - name: Unit tests
        run: yarn test:ci

      - name: Check package types
        run: yarn check:package-types

      - name: Lint packages
        run: yarn check:package-lint
