APP_URL="http://localhost:3001"

# Optional - Hub URL to use for the debugger. If not set, the debugger will use the default hub URL.
DEBUG_HUB_HTTP_URL=

# Optional - debugging URL for the examples index page
NEXT_PUBLIC_DEBUGGER_URL=
